
.container {
    display: flex;       
    background-color: rgb(163, 247, 147);
    width: 600px;
    height: 500px;
    justify-content: space-around;
    align-items: center;   
}
.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 130px;
    height: 160px;
    border-radius: 0.8rem;
    background-color: thistle;
    transition: 1s;
    left: 50px;
    top: 180px;
    backface-visibility: hidden;
    /* -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden; */   
}
.one {
    position: absolute;
    left: 55px;
}
.two {
    top: 180px;
    left: 235px;
    position: absolute
}
.third {
    top: 90px;
    left: 210px;
    position: absolute
}
.card-front {
    z-index: 1;
    
}
.card-back {
    transform: rotateY(180deg);
    background-color: whitesmoke;
}    
button {
    width: 100px;
    height: 100px;
    background-color: silver;
}
.first:hover .card-front{
    transform: rotateY(180deg)
}
.second:hover .card-front{
    transform: rotateY(180deg)
}
.third:hover .card-front{
    transform: rotateY(180deg)
}
.first:hover .card-back{
    transform: rotateY(360deg)
}
.second:hover .card-back{
    transform: rotateY(360deg)
}
.third:hover .card-back{
    transform: rotateY(360deg)
}
   